{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/header.css' %}">
    <link rel="stylesheet" href="{% static 'core/activity.css' %}">
    <title>{{ activity.name }}</title>
</head>
<body>
    <div id="title">
        <a href="/">Activity Tracker</a>
        <a href="new_timelog">New Timelog</a>
    </div>
    <h1 id="title-name">{{ activity.name }}</h1>
    <div id="timelog-container">
        <table id="timelog-table">
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Time Spent</th>
            </tr>
            {% for log in timelogs %}
            <tr>
                <td>{{ log.start_time }}</td>
                <td>{{ log.end_time }}</td>
                <td>{{ log.time_spent }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>